@page
@model IndexModel
@{
    ViewData["Title"] = "PL";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <script src="~/js/vivagraph.js"></script>
    <script src="~/js/DAG.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Vyrokova logika</h1>

        <form method="post" asp-action="Index" asp-controller="Home" id="TheForm">
            @Html.DropDownList("formula", Model.listItems, "select formula")
            @Html.TextBox("UserInput", "", new { @maxlength = "64" });

            <input type='submit' class="btn btn-primary" value='Create tree' name='submit' />
            <input type='submit' class="btn btn-primary" value='Create DAG' name='submit' />
        </form>

        @if(Model.DAG)
        {
            <script>
                var myList = @Html.Raw(Json.Serialize(Model.DAGNodes))
                var treeConnections = @Html.Raw(Json.Serialize(Model.TreeConnections))
                console.log(myList);
                console.log(treeConnections);
                makeDAG(myList, treeConnections);
            </script>
        }

        @if(!Model.DAG)
        {
            @if (Model.ConvertedTree != null)
            {
                <p>@Html.Raw(Model.TautologyDecision)</p>
                <p>@Html.Raw(Model.ConvertedTree)</p>
            }
        }
        
    </div>
</body>
</html>